.App {
  color: #333;
  min-height: 20em;
  min-width: 32em;
  font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',Arial,sans-serif;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.App>.aside{
  flex-grow: 0;
  flex-shrink: 0;
  width: 280px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.App>.aside>.header{
  background-color: #5b7a59;
  color: #fcfdfc;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  align-items: center;
  padding: 12px 10px;
}

.App>.aside>.header>.icon-caidan{
  font-size: 22px;
}

.App>.aside>.header>p{
  font-weight: lighter;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
  font-size: 17px;
}

.App>.aside>.header>button{
  background: transparent;
  color: #fff;
  border: none;
  padding: 3px 5px;
  cursor: pointer;
}

.App>.aside>.header>button:hover{
  opacity: 0.7;
}

.App>.main{
  flex-grow: 1;
  flex-shrink: 1;
  background: transparent;
  /*overflow: scroll;*/
}

.App .todoList>li:nth-child(odd){
  background: #ffdddd;
}

.App .todoList>li:nth-child(even){
  background: transparent;
}