.TodoItem{
    padding: 0.5em;
    display: flex;
    align-items: center;
}

.TodoItem>input{
    color: #ff4500;
    border: 1px solid #ffab66;
    background-color: white;
    border-radius: 4px;
}

.TodoItem>.title{
    flex-grow: 1;
    padding: 0 0.5em;
}

.TodoItem>.completed~.title{
    text-decoration: line-through;
    color: #999;
}

.TodoItem>button{
    color: #ffab66;
    border: none;
    background-color: transparent;
}

.TodoItem>button:hover{
    color: #ff4500;
}