.UserDialog-Wrapper {
    /*全屏*/
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('./images/bg-sign.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-color: rgba(33, 33, 33, 0.2);

    /*内容居中*/
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-aspect-ratio: 1280/854){
    .UserDialog-Wrapper {
      background-size: auto 100vh;
    }
}

.UserDialog{
    min-width: 20em;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.35)
}

.UserDialog>nav:first-child{
    padding: 1em;
}

.UserDialog>nav:first-child label{
    cursor: pointer;
    background: #fff;
    padding: 6px 15px;
    border-radius: 3px;
    margin-left: 10px;
}

.UserDialog>nav:first-child>input[type="radio"]{
    visibility: hidden;
}

.UserDialog>nav:first-child>input[type="radio"]:not(:first-child){
    margin-left: 20px;
}

.UserDialog>nav:first-child>input[type="radio"].checked+label{
    background-color: #ff5555;
    color: #fff;
}

.UserDialog>.panes{
    padding: 0 1em 1em;
}

.UserDialog form>.row{
    display: flex;
    padding: 0.3em 0;
}

.UserDialog form>.row>label:first-child{
    display: inline-block;
    width: 4em;
    /*border: 1px solid red;*/
}

.UserDialog form>.row>input[type="text"],
.UserDialog form>.row>input[type="password"]{
    line-height: 1.2;
    border: 1px solid #ff9999;
    box-shadow: inset 0 0 2px 0 #ffaaaa;
    border-radius: 2px;
}

.UserDialog form>.row>input[type="text"]:focus,
.UserDialog form>.row>input[type="password"]:focus{
    outline-color: #ffcc99;
}

.UserDialog form>.action{
    padding-left: 4em;
}

.UserDialog form>.action>button{
    cursor: pointer;
    background: #dadada;
    border: none;
    padding: 3px 5px;
    border-radius: 3px;
}

.UserDialog form>.action>button:hover{
    background-color: #ff5555;
    color: #fff;
}