.UserDialog-Wrapper {
    /*全屏*/
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('./../public/images/bg-sign.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-color: rgba(33, 33, 33, 0.2);

    /*内容居中*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@media (max-aspect-ratio: 1280/960){
    .UserDialog-Wrapper {
      background-size: auto 100vh;
    }
}

.UserDialog{
    margin-top: 100px;
    padding-top: 30px;
    min-width: 20em;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.35)
}

.UserDialog>h1{
    text-align: center;
    color: #ff5555;
    font-size: 2.5em;
}


.UserDialog form>.row.action{
    padding-left: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.UserDialog form>.action>button{
    cursor: pointer;
    background: #dadada;
    border: none;
    padding: 3px 5px;
    border-radius: 3px;
}

.UserDialog form>.action>button:hover{
    background-color: #ff5555;
    color: #fff;
}

.UserDialog .forgotPassword > h3 { 
    padding: 1em; 
    text-align: center;
}
.UserDialog .forgotPassword > form {
    padding: 0 1em 1em;
}